

<!-- Custom styles for login_form template -->
body {
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

<!-- Custom styles for message_board template -->

html{

}
.container{
  width: 100%;
  padding: 0;
}
.messageboard-container{
    padding-top:200px; 
    background-image:url("../pic/logo.png"); 

    background-repeat:no-repeat;
    background-position:center top;
    background-color:#C3D9FF;
}
#messageboard{
    padding: 5px;

    width:600px;
    margin:auto;
    border:1px solid silver;
    padding-bottom:20px;
    background-color:#fff;
}

#numberOfMess {
    float:right;
    font-size:small;
    color:Gray;
}

.message {
    width:590px;
    background-color:#CDEB8B;
    color:gray;
    margin-bottom:5px;
    padding:5px;
    font-size:22px;
    border:2px solid #73880A;
}
.message p {
    display:inline;
   
}


.message img {
    float:right;
    padding-left:5px;
    border:none;
}


.message span {
    display:block;
    font-size:10px;
    color:gray;
    width:100%;
    padding:0;
    margin:0;
    text-align:right;

}

#inputText{
    max-width:580px;
    height:150px;
    border:1px solid silver;
    font-family:verdana, helvetica, Sans-Serif;
    font-size:20px;
    padding:5px;
}
.blur{
    background-color: white;
}

.focus{
    background-color: #F3FCE4;
}

.clear {
    clear:both;

}
